services:
  monero-node-website:
    container_name: "monero-node-website"
    build:
      context: ./website
      dockerfile: Dockerfile
    restart: "always"
    ports:
      - "26291:3000"
    stdin_open: true

  monero-node-monerod:
    container_name: "monero-node-monerod"
    build:
      context: ./monerod
      dockerfile: Dockerfile
    restart: "always"
    ports:
      - "18080:18080"
      - "18081:18081"
      - "18083:18083"
      - "18089:18089"
    stdin_open: true
    volumes:
      - monerod-blockchain:/var/lib/monero
      - monerod-logs:/var/log/monero

volumes:
  monerod-blockchain:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: ./.blockchain

  monerod-logs:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: ./.logs
